/* NAVBAR */

.td-navbar {
  background: transparent !important;

  @media only screen and (max-width: 767px) {
    margin: auto;
    text-align: center;
  }
}

.header-hero {
  // position: relative;
  background-color: $dark-grey;
  background-image: url("/images/texture.png");
  width: 100%;

  @media only screen and (min-width: 767px) {
    padding-top: 80px;
  }

  @media only screen and (max-width: 767px) {
    position: absolute;
    top: 0;
    padding-top: 180px;
  }
}

// Start of imported k8ts styles from _base.sass
#docs {
  .flyout-button {
    position: fixed;
    top: 20px;
    left: 20px;
    width: 50px;
    height: 50px;
    background-image: url("/images/toc_icon.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: auto;
    border-radius: 50%;
    transition: 0.3s;
    z-index: 99999;
  }

  &.open-nav .flyout-button {
    display: none;
  }

  .logo {
    position: absolute;
    top: 40px;
    left: 50%;
    transform: translate(-50%, -50%);
    display: block;
    width: 45px;
    height: 44px;
    background-image: url("/images/favicon.png");
  }

  &.flip-nav .flyout-button {
    background-image: url("/images/toc_icon_grey.png");
  }
}

#blog {
  &.flip-nav,
  &.open-nav {
    .logo {
      background-image: url("/images/nav_logo2.svg");
    }
  }
}

.flip-nav ul.global-nav li ul li a {
  background: $white;
  color: $dark-grey;
}

.flip-nav ul.global-nav li a.active:after,
.flip-nav ul.global-nav li ul li a.active:after,
.open-nav ul.global-nav li a.active:after {
  background: $blue;
}

// FLIP NAV
.flip-nav .td-header {
  background-color: white;
}
// ! end of import

/* SEARCH & SIDEBAR */

.td-sidebar__inner {
  form.td-sidebar__search {
    input.form-control.td-search-input {
      &::placeholder {
        @media only screen and (max-width: 767px) {
          color: $white;
        }
      }
    }

    button.td-sidebar__toggle {
      &:hover {
        color: $white;
      }

      color: $blue;
    }
  }
}

/* Spacing to accomodate languages dropdown menu after search bar removed */
.td-navbar-nav-scroll {
  @media only screen and (min-width: 767px) {
    margin-right: 80px !important;
  }
}

.no-underline {
  text-decoration: none !important;
}

.hide {
  display: none !important;
}

/* DOCS */

/* Tooltip container */
.glossary-tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
  color: black;
  text-decoration: none !important;
}

/* Tooltip text */
.glossary-tooltip .tooltip-text {
  visibility: hidden;
  width: 300px;
  background-color: $medium-grey;
  color: $white;
  text-align: center;
  padding: 5px 8px;
  border-radius: 6px;

  /* Position the tooltip text */
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -150px;

  /* Fade in tooltip */
  opacity: 0;
  transition: opacity 0.3s;
}

/* Tooltip arrow */
.glossary-tooltip .tooltip-text::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: $medium-grey transparent transparent transparent;
}

/* Show the tooltip text when you mouse over the tooltip container */
.glossary-tooltip:hover .tooltip-text {
  visibility: visible;
  opacity: 1;
}

/* /docs/home button styles */
.button {
  display: inline-block;
  border-radius: 6px;
  padding: 0 20px;
  line-height: 40px;
  color: $white;
  background-color: $blue;
  text-decoration: none;
  font-size: 1rem;
  margin-bottom: 1rem;
}

main {
  img {
    max-width: 100%;
  }

  table {
    margin-bottom: 1rem;
  }
}
