/* GLOBAL */
.td-main main {
  @media only screen and (min-width: 768px) {
    padding-top: 2rem !important;
  }

  img {
    max-width: 100%;
  }

  table {
    margin-bottom: 1rem;
  }
}

/* HEADER */

header {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 8888;
  background-color: transparent;
  box-shadow: 0 0 0 transparent;
  overflow: hidden;
  text-align: center;
}

.td-navbar {
  background: transparent !important;
  transition: 0.3s;

  .navbar-brand {
    position: absolute;
    margin-top: 1.5rem;
    margin-left: 1rem;
    width: 180px;
    height: 88px;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url("/images/nav_logo.svg");
  }

  @media only screen and (max-width: 767px) {
    margin: auto;
    text-align: center;

    .navbar-brand {
      background-image: url("/images/favicon.png");
      position: relative;
      width: 45px;
      height: 44px;
    }
  }
}

.header-hero {
  position: relative;
  background-color: $dark-grey;
  background-image: url("/images/texture.png");
  width: 100%;

  @media only screen and (min-width: 767px) {
    padding-top: 7rem;
  }

  @media only screen and (max-width: 767px) {
    position: absolute;
    top: 0;
    padding: 180px 180px;
  }
}

// Flip-Nav
.flip-nav header .td-navbar {
  background-color: white !important;
  box-shadow: 0 1px 2px $medium-grey;

  .navbar-nav .nav-link {
    color: $dark-grey;
  }

  @media only screen and (min-width: 768px) {
    .navbar-brand {
      background-image: url("/images/nav_logo2.svg");
    }
  }
}

/* FOOTER */
footer {
  background-image: url("/images/texture.png");
}

/* SEARCH & SIDEBAR */

.td-sidebar {
  @media only screen and (min-width:768px) {
    padding-top: 0.75rem !important;
  }
}

.td-sidebar__inner {
  form.td-sidebar__search {
    input.form-control.td-search-input {
      &::placeholder {
        @media only screen and (max-width: 767px) {
          color: $white;
        }
      }
    }

    button.td-sidebar__toggle {
      &:hover {
        color: $white;
      }

      color: $blue;
    }
  }
}

/* Spacing to accomodate languages dropdown menu after search bar removed */
.td-navbar-nav-scroll {
  @media only screen and (min-width: 767px) {
    margin-right: 80px !important;
  }
}

.no-underline {
  text-decoration: none !important;
}

.hide {
  display: none !important;
}

.td-sidebar-link__page {
  &#m-docs-search {
    display: none;
  }

  &#m-docs-test {
    display: none;
  }
}

/* TOC */
.td-toc {
  padding-top: 1.5rem !important;
}

/* DOCS */

/* Tooltip container */
.glossary-tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
  color: black;
  text-decoration: none !important;
}

/* Tooltip text */
.glossary-tooltip .tooltip-text {
  visibility: hidden;
  width: 300px;
  background-color: $medium-grey;
  color: $white;
  text-align: center;
  padding: 5px 8px;
  border-radius: 6px;

  /* Position the tooltip text */
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -150px;

  /* Fade in tooltip */
  opacity: 0;
  transition: opacity 0.3s;
}

/* Tooltip arrow */
.glossary-tooltip .tooltip-text::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: $medium-grey transparent transparent transparent;
}

/* Show the tooltip text when you mouse over the tooltip container */
.glossary-tooltip:hover .tooltip-text {
  visibility: visible;
  opacity: 1;
}

/* /docs/home button styles */
.button {
  display: inline-block;
  border-radius: 6px;
  padding: 0 20px;
  line-height: 40px;
  color: $white;
  background-color: $blue;
  text-decoration: none;
  font-size: 1rem;
  margin-bottom: 1rem;
}
