//Add styles or override variables from the theme here.

@import 'reset';
@import 'settings';

.td-navbar {
  background: transparent !important;

  @media only screen and (max-width: 767px) {
    margin: auto;
    text-align: center;
  }
}

.header-hero {
  // position: relative;
  background-color: #303030;  
  background-image: url('/images/texture.png');
  width: 100%;

  @media only screen and (min-width: 767px) {
    padding-top: 80px
  }

  @media only screen and (max-width: 767px) {
    position: absolute;
    top: 0;
    padding-top: 180px;
  }
}

/* SEARCH & SIDEBAR */

.td-sidebar__inner {
  form.td-sidebar__search {
    input.form-control.td-search-input {
      &::placeholder {
        @media only screen and (max-width: 767px) {
          color: white;
        }
      }
    }

    button.td-sidebar__toggle {
      &:hover {
        color: #fff;
      }
      
      color: #3371e3
    }
  }
}

/* Spacing to accomodate languages dropdown menu after search bar removed */
.td-navbar-nav-scroll {
  @media only screen and (min-width: 767px) {
    margin-right: 80px !important;
  }
}

.no-underline {
  text-decoration: none !important;
}

.hide {
  display: none !important;
}

.td-sidebar-link__page {
  &#m-docs-search {
    display: none;
  }

  &#m-docs-test {
    display: none;
  }
}
/* DOCS */

/* Tooltip container */
.glossary-tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
    color: black;
    text-decoration: none !important;
}

/* Tooltip text */
.glossary-tooltip .tooltip-text {
    visibility: hidden;
    width: 300px;
    background-color: #555;
    color: #fff;
    text-align: center;
    padding: 5px 8px;
    border-radius: 6px;

    /* Position the tooltip text */
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -150px;

    /* Fade in tooltip */
    opacity: 0;
    transition: opacity 0.3s;
}

/* Tooltip arrow */
.glossary-tooltip .tooltip-text::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

/* Show the tooltip text when you mouse over the tooltip container */
.glossary-tooltip:hover .tooltip-text {
    visibility: visible;
    opacity: 1;
}

/* /docs/home button styles */
.button {
  display: inline-block;
  border-radius: 6px;
  padding: 0 20px;
  line-height: 40px;
  color: white;
  background-color: rgb(65,115,220);
  text-decoration: none;
  font-size: 1rem;
  margin-bottom: 1rem;
}

main {
  img {
    max-width: 100%;
  }

  table {
    margin-bottom: 1rem;
  }
}
@import 'base';
