@charset 'UTF-8';

@font-face
{
    font-family: 'Inconsolata';
    font-weight: normal;
    font-style: normal;

    src: url('../fonts/Inconsolata-Regular.eot');
    src: url('../fonts/Inconsolata-Regular.eot?#iefix') format('embedded-opentype'), url('../fonts/Inconsolata-Regular.woff2') format('woff2'), url('../fonts/Inconsolata-Regular.woff') format('woff'), url('../fonts/Inconsolata-Regular.ttf') format('truetype'), url('../fonts/Inconsolata-Regular.svg#Inconsolata-Regular') format('svg');
}

@font-face
{
    font-family: 'Inconsolata';
    font-weight: bold;
    font-style: normal;

    src: url('../fonts/Inconsolata-Bold.eot');
    src: url('../fonts/Inconsolata-Bold.eot?#iefix') format('embedded-opentype'), url('../fonts/Inconsolata-Bold.woff2') format('woff2'), url('../fonts/Inconsolata-Bold.woff') format('woff'), url('../fonts/Inconsolata-Bold.ttf') format('truetype'), url('../fonts/Inconsolata-Bold.svg#Inconsolata-Bold') format('svg');
}

@font-face
{
    font-family: 'Roboto Slab';
    font-weight: normal;
    font-style: normal;

    src: url('../fonts/RobotoSlab-Regular.eot');
    src: url('../fonts/RobotoSlab-Regular.eot?#iefix') format('embedded-opentype'), url('../fonts/RobotoSlab-Regular.woff2') format('woff2'), url('../fonts/RobotoSlab-Regular.woff') format('woff'), url('../fonts/RobotoSlab-Regular.ttf') format('truetype'), url('../fonts/RobotoSlab-Regular.svg#RobotoSlab-Regular') format('svg');
}

@font-face
{
    font-family: 'Roboto Slab';
    font-weight: 100;
    font-style: normal;

    src: url('../fonts/RobotoSlab-Thin.eot');
    src: url('../fonts/RobotoSlab-Thin.eot?#iefix') format('embedded-opentype'), url('../fonts/RobotoSlab-Thin.woff2') format('woff2'), url('../fonts/RobotoSlab-Thin.woff') format('woff'), url('../fonts/RobotoSlab-Thin.ttf') format('truetype'), url('../fonts/RobotoSlab-Thin.svg#RobotoSlab-Thin') format('svg');
}

@font-face
{
    font-family: 'Roboto Slab';
    font-weight: 300;
    font-style: normal;

    src: url('../fonts/RobotoSlab-Light.eot');
    src: url('../fonts/RobotoSlab-Light.eot?#iefix') format('embedded-opentype'), url('../fonts/RobotoSlab-Light.woff2') format('woff2'), url('../fonts/RobotoSlab-Light.woff') format('woff'), url('../fonts/RobotoSlab-Light.ttf') format('truetype'), url('../fonts/RobotoSlab-Light.svg#RobotoSlab-Light') format('svg');
}

@font-face
{
    font-family: 'Roboto Slab';
    font-weight: bold;
    font-style: normal;

    src: url('../fonts/RobotoSlab-Bold.eot');
    src: url('../fonts/RobotoSlab-Bold.eot?#iefix') format('embedded-opentype'), url('../fonts/RobotoSlab-Bold.woff2') format('woff2'), url('../fonts/RobotoSlab-Bold.woff') format('woff'), url('../fonts/RobotoSlab-Bold.ttf') format('truetype'), url('../fonts/RobotoSlab-Bold.svg#RobotoSlab-Bold') format('svg');
}

.layout
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    min-width: 320px;
    max-width: 100%;
    margin: 0 auto;

    background: #fff;

    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
        flex: 1 1 auto;
}

.layout .content
{
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 0px;
    padding-bottom: 0px;
}

@media screen and (max-width: 480px)
{
    .layout
    {
        display: block;
    }
}

.layout__content
{
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
        flex: 1 1 auto;
}

/* .sidebar
{
    position: relative;

    overflow: auto;

    width: 300px;
    min-width: 300px;

    -webkit-transition: .12s ease-out;
            transition: .12s ease-out;

    background: #326de6;
    background: -webkit-linear-gradient(45deg, #326de6 0%, #4cffd4 100%);
    background:         linear-gradient(45deg, #326de6 0%, #4cffd4 100%);
}
.sidebar:before
{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    content: '';
    -webkit-transition: .12s ease-out;
            transition: .12s ease-out;

    opacity: 0;
    background: #fff;
}
.page_open .sidebar:before,
.sidebar:hover:before
{
    opacity: .7;
}
@media screen and (min-width: 999px)
{
    .sidebar:before
    {
        opacity: .7;
    }
}
@media screen and (min-width: 1000px)
{
    .page_desktop_hide .sidebar:before
    {
        opacity: 0;
    }
}
@media screen and (max-width: 480px)
{
    .sidebar
    {
        position: fixed;
        z-index: 600;
        top: 0;
        left: 0;

        overflow: visible;

        width: 100%;
        height: 60px;

        -webkit-transition: background .12s linear;
                transition: background .12s linear;

        background: #326de6;
        box-shadow: 0 0 5px rgba(0, 0, 0, .5);
    }
    .page_open .sidebar
    {
        background: #fff;
    }
    .sidebar:before
    {
        opacity: 0;
    }
}

.sidebar__inner
{
    position: relative;
    z-index: 100;

    box-sizing: border-box;
    width: 300px;
    padding: 0 0 20px;
}
@media screen and (max-width: 480px)
{
    .sidebar__inner
    {
        width: auto;
    }
} */

/* .nav
{
    font-family: Roboto Slab, Roboto, 'Helvetica Neue', Helvetica, 'Open Sans', Arial, sans-serif;
    font-size: 14px;

    min-height: 600px;
    padding: 0;

    list-style: none;
}
.nav a
{
    padding: 15px 20px 16px 100px !important;

    color: #231f20 !important;
    background: none !important;
}
.nav a:hover
{
    background: rgba(255, 255, 255, .2) !important;
}
@media screen and (max-width: 480px)
{
    .nav a
    {
        padding-top: 10px !important;
        padding-bottom: 10px !important;
        padding-left: 80px !important;

        color: #fff !important;
    }
}
@media screen and (max-width: 320px)
{
    .nav a
    {
        padding-left: 40px !important;
    }
}
.nav li:after
{
    position: absolute;
    z-index: 30;
    top: 30px;
    bottom: -30px;
    left: 50px;

    content: '';

    border-left: 2px dashed #53a2e5;
}
@media screen and (max-width: 480px)
{
    .nav li:after
    {
        display: none;
    }
}
.nav li:first-child:after
{
    top: -22px;
}
@media screen and (max-width: 480px)
{
    .nav li:first-child
    {
        border-top: none;
    }
}
.nav li:last-child:after
{
    bottom: 30px;
}
.nav li.active > a
{
    font-weight: bold;
}
.nav li.open a
{
    background: #fff !important;
}
@media screen and (max-width: 480px)
{
    .nav li.open a
    {
        background: none !important;
    }
}
.nav li.open a:hover
{
    background: #fff !important;
}
@media screen and (max-width: 480px)
{
    .nav li.open
    {
        background: rgba(0, 0, 0, .1) !important;
    }
}
.nav li.sidebar__subnav.active
{
    background: #fff;
}
@media screen and (max-width: 480px)
{
    .nav li.sidebar__subnav.active
    {
        background: rgba(0, 0, 0, .1);
    }
}
.nav li li:after
{
    top: 28px;

    width: 60px;

    border-top: 2px dashed #53a2e5;
    border-left: none;
}
.nav li li:first-child:after
{
    top: 30px;
}
.nav li li a
{
    padding-left: 120px !important;
}
@media screen and (max-width: 320px)
{
    .nav li li a
    {
        padding-left: 80px !important;
    }
}
@media screen and (max-width: 480px)
{
    .nav li
    {
        border-top: 2px solid rgba(255, 255, 255, .1);
    }
}
.nav .nav
{
    min-height: 10px;
}

@media screen and (max-width: 480px)
{
    .sidebar__inner > .nav
    {
        font-size: 16px;

        position: fixed;
        top: 60px;
        bottom: 100%;
        left: 0;

        overflow: auto;

        width: 100%;
        min-height: 0;

        -webkit-transition: .24s ease-out;
                transition: .24s ease-out;

        opacity: 0;
        background: rgba(50, 109, 230, .9);
    }
    .page_open .sidebar__inner > .nav
    {
        bottom: 0;

        opacity: 1;
    }
} */

/* .sidebar__ico
{
    position: absolute;
    z-index: 40;
    top: 7px;
    left: 40px;

    width: 22px;
    height: 22px;
    margin: 8px 0 0;

    content: '';

    background: url('../images/nav_point.svg?v=1471333863065') no-repeat 50% 50%;
    background-size: cover;
}
.nav li.marked > a > .sidebar__ico
{
    background-image: url('../images/nav_point_active.svg?v=1471333863065');
}
.nav li.active > a > .sidebar__ico
{
    background-image: url('../images/nav_point_sub.svg?v=1471333863065');
}
@media screen and (max-width: 480px)
{
    .sidebar__ico
    {
        display: none;
    }
}

.sidebar__subnav .nav
{
    display: none;
}
.sidebar__subnav .nav a
{
    padding-left: 25px;
}

.nav li.active > .nav,
.nav li.open > .nav
{
    display: block;
}
.nav li.active > .nav a,
.nav li.open > .nav a
{
    border-top: 1px solid #e5eaf9;
} */


.content
{
    position: relative;
    z-index: 500;

    box-sizing: border-box;
    margin: 0 0 0 -200px;
    padding: 20px 60px;

    -webkit-transition: .12s ease-out;
            transition: .12s ease-out;

    background: #fff;
    /*box-shadow: -6px 0 14px -4px rgba(0, 0, 0, .5);*/

    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
        flex: 1 1 auto;
}


@media screen and (max-width: 998px)
{
    .content
    {
        margin-left: 0px;
        padding-right: 20px;
        padding-left: 20px;
    }
}
.page_open .content
{
    margin-left: 0;
}
@media screen and (max-width: 1200px)
{
    .page_open .content
    {
        margin-left: -200px;

        -webkit-transform: translateX(200px);
            -ms-transform: translateX(200px);
                transform: translateX(200px);
    }
}
@media screen and (min-width: 999px)
{
    .content
    {
        margin-left: 0;

        -webkit-transform: translateX(0);
            -ms-transform: translateX(0);
                transform: translateX(0);
    }
}
@media screen and (max-width: 480px)
{
    .content
    {
        margin-left: 0;
        padding-top: 80px;

        box-shadow: none;
    }
    .page_open .content,
    .sidebar:hover + .content
    {
        -webkit-transform: translateX(0);
            -ms-transform: translateX(0);
                transform: translateX(0);
    }
}
@media screen and (min-width: 1000px)
{
    .page_desktop_hide .content
    {
        margin-left: -200px !important;

        -webkit-transform: translateX(0) !important;
            -ms-transform: translateX(0) !important;
                transform: translateX(0) !important;
    }
}
.content p img
{
    max-width: 100%;
}
.content hr
{
    box-sizing: border-box;
}

.content__sider
{
    position: absolute;
    top: 25px;
    left: 12px;

    margin: 0 0 30px;
}
.page_open .content__sider
{
    display: block;
}
@media screen and (max-width: 992px)
{
    .content__sider
    {
        position: relative;
        top: auto;
        left: auto;

        display: block;
    }
}
@media screen and (max-width: 480px)
{
    .content__sider
    {
        z-index: -1;

        display: none !important;
    }
}

.content__trigger
{
    position: relative;

    display: block;

    width: 36px;
    height: 36px;
}
.content__trigger:before,
.content__trigger:after
{
    position: absolute;
    top: 50%;
    left: 4px;

    width: 30px;
    height: 2px;
    margin-top: -11px;

    content: '';
    -webkit-transition: -webkit-transform .12s ease-out;
            transition: -webkit-transform .12s ease-out;
            transition:         transform .12s ease-out;
            transition:         transform .12s ease-out, -webkit-transform .12s ease-out;
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);

    background: #273d6d;
}
.content__trigger:after
{
    margin-top: 9px;

    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
}
.page_open .content__trigger:before
{
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
}
.page_open .content__trigger:after
{
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
}
@media screen and (min-width: 1000px)
{
    .content__trigger:before
    {
        -webkit-transform: rotate(-45deg);
            -ms-transform: rotate(-45deg);
                transform: rotate(-45deg);
    }
    .content__trigger:after
    {
        -webkit-transform: rotate(45deg);
            -ms-transform: rotate(45deg);
                transform: rotate(45deg);
    }
    .page_desktop_hide .content__trigger:before
    {
        -webkit-transform: rotate(45deg);
            -ms-transform: rotate(45deg);
                transform: rotate(45deg);
    }
    .page_desktop_hide .content__trigger:after
    {
        -webkit-transform: rotate(-45deg);
            -ms-transform: rotate(-45deg);
                transform: rotate(-45deg);
    }
}

/* .content__modules
{
    margin: 50px 0;
}
.content__modules h2
{
    margin-bottom: 30px;
    padding: 0;

    border: none;
}
.content__modules .thumbnail
{
    padding: 0;

    border: none;
    border-radius: 0;
}
.content__modules .thumbnail img
{
    width: 100%;

    box-shadow: 5px 5px 15px rgba(0, 0, 0, .1);
}
.content__modules .caption
{
    padding: 5px 0 10px;
}
.content__modules .caption h5
{
    font-family: Roboto, 'Helvetica Neue', Helvetica, 'Open Sans', Arial, sans-serif;
    font-size: 16px;
} */

.content__likes
{
    text-align: center;
}

.like,
.dislike
{
    display: inline-block;

    color: #326de6;
}
.like img,
.dislike img
{
    width: 80px;
}

.content__award
{
    max-width: 250px;
    margin: 0 0 20px 0;

    text-align: center;
}

.content__badge
{
    width: 250px;
}

.content__buttons
{
    max-width: 300px;
}

/*
.header
{
    padding: 20px 20px;

    background: #fff;
}
@media screen and (max-width: 480px)
{
    .header
    {
        position: relative;

        padding: 10px 20px;

        background: none;
    }
}

.header__site
{
    font-family: Roboto Slab, Roboto, 'Helvetica Neue', Helvetica, 'Open Sans', Arial, sans-serif;
    font-size: 32px;
    font-weight: bold;
    line-height: 60px;

    text-decoration: none !important;

    color: #231f20 !important;
}
@media screen and (max-width: 480px)
{
    .header__site
    {
        display: block;
        overflow: hidden;

        width: 42px;
    }
}

.header__logo
{
    height: 60px;
    margin: 0 10px 0 0;

    vertical-align: top;
}
@media screen and (max-width: 480px)
{
    .header__logo
    {
        display: none;
    }
}

.header__logo-mobile
{
    display: none;
}
@media screen and (max-width: 480px)
{
    .header__logo-mobile
    {
        display: block;

        height: 40px;
    }
}

@media screen and (max-width: 480px)
{
    .header__name
    {
        display: none;
    }
}

.header__sider
{
    position: absolute;
    z-index: 1010;
    top: 15px;
    right: 20px;

    display: none;

    box-sizing: border-box;
    width: 30px;
    height: 30px;

    cursor: pointer;

    -webkit-tap-highlight-color: transparent;
}
@media screen and (max-width: 480px)
{
    .header__sider
    {
        display: block;
    }
}

.header__burger
{
    position: absolute;
    top: 50%;
    left: 0;

    width: 30px;
    height: 3px;
    margin: -1px 0 0 0;

    border-radius: 3px;
    background: #fff;
}
.header__burger:before,
.header__burger:after
{
    position: absolute;
    top: -9px;
    left: 0;

    width: 100%;
    height: 3px;
    margin: -1px 0 0 0;

    content: '';
    -webkit-transition: .12s linear;
            transition: .12s linear;

    border-radius: 3px;
    background: inherit;
}
.header__burger:after
{
    top: auto;
    bottom: -10px;
}
.page_open .header__burger
{
    background: transparent;
}
.page_open .header__burger:before
{
    top: 0;

    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);

    background: #326de6;
}
.page_open .header__burger:after
{
    bottom: 0;

    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);

    background: #326de6;
}

.footer
{
    font-family: Roboto Slab, Roboto, 'Helvetica Neue', Helvetica, 'Open Sans', Arial, sans-serif;

    margin: 20px 0 0;

    text-align: left;
}
.layout > .footer
{
    display: none;
}
@media screen and (max-width: 480px)
{
    .footer
    {
        display: none;
    }
    .layout > .footer
    {
        display: block;

        padding: 0 0 20px;

        text-align: center;

        background: #326de6;
    }
    .footer:before
    {
        position: relative;

        display: block;

        height: 15px;
        margin: 0 0 40px;

        content: '';

        background: -webkit-linear-gradient(45deg, #326de6 0%, #4cffd4 100%);
        background:         linear-gradient(45deg, #326de6 0%, #4cffd4 100%);
    }
}

.footer__content
{
    padding: 0 20px;
}

.footer__social
{
    font-size: 32px;
    line-height: 1;

    width: 60px;
    margin: 0;
    padding: 10px 0;

    list-style: none;

    text-align: left;

    border-top: 1px solid rgba(255, 255, 255, .3);
    border-bottom: 1px solid rgba(255, 255, 255, .3);
}
.page_open .footer__social
{
    width: auto;
    padding: 0;

    border: none;
}
@media screen and (min-width: 999px)
{
    .footer__social
    {
        width: auto;
        padding: 0;

        border: none;
    }
}
@media screen and (max-width: 480px)
{
    .footer__social
    {
        width: auto;
        padding: 0;

        text-align: center;

        border: none;
    }
}
@media screen and (min-width: 1000px)
{
    .page_desktop_hide .footer__social
    {
        width: 60px;
        padding: 10px 0;

        border-top: 1px solid rgba(255, 255, 255, .3);
        border-bottom: 1px solid rgba(255, 255, 255, .3);
    }
}

.footer__social-item
{
    width: 60px;
    margin: 10px 0;

    text-align: center;
}
.page_open .footer__social-item
{
    display: inline-block;

    width: auto;
    margin: 0 20px 0 0;

    text-align: left;
}
@media screen and (min-width: 999px)
{
    .footer__social-item
    {
        display: inline-block;

        width: auto;
        margin: 0 20px 0 0;

        text-align: left;
    }
}
@media screen and (max-width: 480px)
{
    .footer__social-item
    {
        display: inline-block;

        width: auto;
        margin: 0 10px;

        text-align: center;
    }
}
@media screen and (min-width: 1000px)
{
    .page_desktop_hide .footer__social-item
    {
        width: 60px;
        margin: 10px 0;

        text-align: center;
    }
}

.footer__network
{
    display: inline-block;

    text-decoration: none;

    opacity: .7;
    color: #fff;
}
.page_open .footer__network
{
    opacity: 1;
    color: #326de6;
}
@media screen and (min-width: 999px)
{
    .footer__network
    {
        opacity: 1;
        color: #326de6;
    }
}
@media screen and (max-width: 480px)
{
    .footer__network
    {
        display: inline-block;

        width: auto;
        margin: 0 20px 0 0;
    }
    .footer__network:hover
    {
        opacity: 1;
        color: #fff;
    }
}
@media screen and (min-width: 1000px)
{
    .page_desktop_hide .footer__network
    {
        display: inline-block;

        text-decoration: none;

        opacity: .7;
        color: #fff;
    }
}

.footer__menu
{
    display: none;

    margin: 20px 0;
    padding: 10px 0;

    list-style: none;

    border-top: 1px solid rgba(255, 255, 255, .3);
    border-bottom: 1px solid rgba(255, 255, 255, .3);
}
.page_open .footer__menu
{
    display: block;
}
@media screen and (min-width: 999px)
{
    .footer__menu
    {
        display: block;
    }
}
@media screen and (max-width: 480px)
{
    .footer__menu
    {
        display: block;

        padding-bottom: 40px;

        text-align: left;

        border-top: none;
        border-bottom: 2px solid rgba(255, 255, 255, .3);
    }
}
@media screen and (min-width: 1000px)
{
    .page_desktop_hide .footer__menu
    {
        display: none;
    }
}

.footer__item
{
    margin: 10px 0;
}
@media screen and (max-width: 480px)
{
    .footer__item:before
    {
        display: inline;

        margin: 0 5px 0 0;

        content: '›';

        opacity: .7;
        color: #fff;
    }
}

.footer__link
{
    color: #273d6d;
}
@media screen and (max-width: 480px)
{
    .footer__link
    {
        opacity: .7;
        color: #fff;
    }
    .footer__link:hover
    {
        opacity: 1;
        color: #fff;
    }
}

.footer__copyright
{
    font-size: 12px;
    padding-top: 20px;
}
.page_open .footer__copyright
{
    display: block;
}
@media screen and (min-width: 999px)
{
    .footer__copyright
    {
        display: block;
    }
}
@media screen and (max-width: 480px)
{
    .footer__copyright
    {
        display: block;

        color: #fff;
    }
    .footer__copyright b
    {
        font-size: 16px;

        display: block;
    }
}
@media screen and (min-width: 1000px)
{
    .page_desktop_hide .footer__copyright
    {
        display: none;
    }
}
*/

/*
.scrolltop
{
    position: fixed;
    z-index: 300;
    bottom: -100px;
    left: 20px;

    display: none;

    width: 56px;
    height: 56px;

    -webkit-transition: .36s ease-out;
            transition: .36s ease-out;

    opacity: 0;
    border: 2px solid #fff;
    border-radius: 50%;
    outline: none;
}
.scrolltop:before,
.scrolltop:after
{
    position: absolute;
    top: 23px;
    left: 4px;

    width: 26px;
    height: 2px;

    content: '';
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);

    background: #fff;
}
.scrolltop:after
{
    right: 4px;
    left: auto;

    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);

    background: #fff;
}
@media screen and (max-width: 992px)
{
    .scrolltop
    {
        display: block;
    }
}
@media screen and (max-width: 480px)
{
    .scrolltop
    {
        background: #326de6;
        background: rgba(50, 109, 230, .5);
        box-shadow: 0 0 0 1px #326de6;
    }
}
.scrolltop_active
{
    bottom: 20px;

    opacity: 1;
}
*/


/*
body
{
    font-family: Roboto, 'Helvetica Neue', Helvetica, 'Open Sans', Arial, sans-serif;
    font-size: 15px;
    line-height: 1.5;

    min-height: 100vh;

    background: #eee;
}
body.page_open
{
    overflow: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6
{
    font-family: Roboto Slab, Roboto, 'Helvetica Neue', Helvetica, 'Open Sans', Arial, sans-serif;
}

h1
{
    font-size: 36px;
    font-weight: bold;

    margin-bottom: 20px;
}

h2,
h3
{
    padding-bottom: 10px;

    border-bottom: 1px solid #ebebec;
}

h2
{
    font-size: 28px;
}

.title-light
{
    border: none;
}

a
{
    color: #326de6;
}

p a
{
    text-decoration: underline;
}
p a:hover
{
    text-decoration: none;
}
*/


.breadcrumb
{
    font-weight: 100;

    padding: 0;

    color: #273d6d;
    background: none;
}
.breadcrumb a,
.breadcrumb .active
{
    color: inherit;
}
.breadcrumb .active
{
    font-weight: bold;
}
.breadcrumb li + li:before
{
    margin-right: 5px;

    content: '|';
}

.btn.btn-lg
{
    font-family: Roboto Slab, Roboto, 'Helvetica Neue', Helvetica, 'Open Sans', Arial, sans-serif;

    border-radius: 0;
}
.btn.btn-success
{
    color: #273d6d;
    border-color: #4cffd4;
    background: #4cffd4;
}
.btn.btn-success:hover
{
    border-color: #5dffe5;
    background: #5dffe5;
}

.btn-default
{
    color: #326de6;
    border-color: #326de6;
}

.btn-primary_light
{
    border-color: #8caeef;
    background: #8caeef;
}
.btn-primary_light:hover
{
    border-color: #9dbfff;
    background: #9dbfff;
}

.btn__prev,
.btn__next
{
    position: relative;

    height: 16px;
    margin: 0 0 0 10px;
    padding: 0 5px 0 0;

    color: transparent;
}
.btn__prev:before,
.btn__prev:after,
.btn__next:before,
.btn__next:after
{
    position: absolute;
    top: 50%;
    left: 0;

    width: 10px;
    height: 2px;
    margin-top: -4px;

    content: '';
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);

    background: #273d6d;
}
.btn__prev:after,
.btn__next:after
{
    margin-top: 2px;

    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
}
.btn-default .btn__prev:before,
.btn-default .btn__prev:after,
.katacoda__steps .btn__prev:before,
.katacoda__steps .btn__prev:after,
.btn-default
  .btn__next:before,
.btn-default
  .btn__next:after,
.katacoda__steps
  .btn__next:before,
.katacoda__steps
  .btn__next:after
{
    background: #326de6;
}

.btn__prev
{
    margin: 0 10px 0 0;
}
.btn__prev:before
{
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
}
.btn__prev:after
{
    margin-top: 2px;

    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
}

.content__box
{
    margin: 0 0 20px;
    padding: 20px;
}

.content__box_lined
{
    box-shadow: inset 0 0 0 1px #326de6;
}

.content__box_fill
{
    color: #fff;
    background: #326de6;
}

.modal-counter
{
    float: left;
}

.modal-title
{
    margin: 0;
    padding: 0;

    border: 0;
}

.modal-twitter
{
    width: 160px;

    vertical-align: top;
}

.modal-backdrop
{
    background: #326de6;
}
.modal-backdrop.in
{
    opacity: .8;
}

.modal-content
{
    border: 2px solid #326de6;
    border-radius: 0;
    box-shadow: none !important;
}

.modal-footer,
.modal-body,
.modal-header
{
    padding: 20px 40px;

    border: none;
}

.modal-body
{
    padding-top: 0;
    padding-bottom: 0;
}

.form-control:not(.td-search-input)
{
    border-radius: 0;
    background: #f8f8f8;
}

.content.katacoda-content {
    padding: 0;
    max-width: 100%;
}

.content.katacoda-content .btn-success {
    margin-bottom: 50px;
}

.katacoda
{
    display: table;

    width: 100%;
    margin: 0 0 50px 0;
}
@media screen and (max-width: 762px)
{
    .katacoda
    {
        display: block;
    }
}

.katacoda__alert
{
    font-family: Inconsolata, Roboto, 'Helvetica Neue', Helvetica, 'Open Sans', Arial, sans-serif;

    display: none;

    padding: 20px;

    text-align: center;

    color: #fff;
    background: #383732;
}
@media screen and (max-width: 762px)
{
    .katacoda__alert
    {
        display: block;
    }
}

.katacoda__about
{
    display: table-cell;

    box-sizing: border-box;
    width: 30%;
    padding: 20px;

    vertical-align: top;

    background: #f7f7f7;
}
@media screen and (max-width: 762px)
{
    .katacoda__about
    {
        display: block;

        width: auto;
    }
}

.katacoda__box
{
    display: table-cell;

    vertical-align: top;

    background: #383732;
}
.katacoda__box img
{
    width: 100%;

    vertical-align: bottom;
}
@media screen and (max-width: 762px)
{
    .katacoda__box
    {
        display: none;
    }
}

.katacoda__steps
{
    font-size: 14px;

    color: #326de6;
}

.carousel
{
    position: relative;

    padding: 0 0 20px;
}

.carousel-indicators
{
    bottom: 0;
}
.carousel-indicators li
{
    width: 12px;
    height: 12px;
    margin: 0 10px;

    opacity: .5;
    border: none;
    background: #326de6;
}
.carousel-indicators li.active
{
    margin: 0 10px;

    opacity: 1;
    background: #326de6;
}

@media screen and (max-width: 992px)
{
    .carousel-inner > .item
    {
        display: block;
    }
}

.quiz__list
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    margin: 30px 0 0;
    padding: 0 0 40px;

    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}
@media screen and (max-width: 992px)
{
    .quiz__list
    {
        display: block;

        margin-top: 10px;
    }
}

.quiz__var
{
    width: 30%;
}
@media screen and (max-width: 992px)
{
    .quiz__var
    {
        width: auto;
        margin: 40px 0 0;
    }
    .quiz__var:first-child
    {
        margin-top: 0;
    }
}

.quiz__box
{
    position: relative;

    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    box-sizing: border-box;
    height: 200px;
    padding: 20px 40px 40px;

    cursor: pointer;

    border: 1px solid #326de6;

    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.quiz__box:before
{
    position: absolute;
    bottom: -30px;
    left: 40px;

    display: none;

    width: 62px;
    height: 61px;

    content: '';

    background: #000;
}
.quiz__box:after
{
    position: absolute;
    bottom: -40px;
    left: 110px;

    display: none;
}
.quiz__var_open .quiz__box:before
{
    display: block;
}
.quiz__var_active .quiz__box:after
{
    display: block;
}

@media screen and (max-width: 992px)
{
    .quiz__box
    {
        display: block;

        height: auto;
        padding: 20px 30px;

        text-align: center;
    }
}

.quiz__var_open.quiz__var_true .quiz__box
{
    border-color: #19eb7d;
    box-shadow: inset 0 0 0 1px #19eb7d;
}
.quiz__var_open.quiz__var_true .quiz__box:before
{
    display: block;

    background: url('../images/quiz_true.png?v=1471333863065') no-repeat 50% 50%;
    background-size: cover;
}
.quiz__var_open.quiz__var_true .quiz__box:after
{
    content: 'Correct !';

    color: #19eb7d;
}

.quiz__var_open.quiz__var_false .quiz__box
{
    border-color: #ee4036;
    box-shadow: inset 0 0 0 1px #ee4036;
}
.quiz__var_open.quiz__var_false .quiz__box:before
{
    display: block;

    background: url('../images/quiz_false.png?v=1471333863065') no-repeat 50% 50%;
    background-size: cover;
}
.quiz__var_open.quiz__var_false .quiz__box:after
{
    content: 'Try again !';

    color: #ee4036;
}

.quiz__list_ready .quiz__var_open.quiz__var_true .quiz__box:after
{
    display: block !important;
}

.quiz__list_ready .quiz__var_open.quiz__var_false .quiz__box:after
{
    display: none !important;
}

.quiz__note
{
    padding: 50px 0 0;

    opacity: 0;
}
.quiz__var_open .quiz__note
{
    opacity: 1;
}
@media screen and (max-width: 992px)
{
    .quiz__note
    {
        display: none;

        margin: 0 0 20px;
    }
    .quiz__var_open .quiz__note
    {
        display: block;
    }
}

.carousel-control
{
    top: 50%;

    width: 50px;
    height: 50px;
    margin: -38px 0 0;

    background: none !important;
}
.carousel-control:before,
.carousel-control:after
{
    position: absolute;
    top: 50%;
    left: 5px;

    width: 35px;
    height: 2px;
    margin-top: -13px;

    content: '';
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);

    background: #8f9599;
}
.carousel-control:after
{
    margin-top: 10px;

    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
}
.carousel-control.left
{
    margin-left: -75px;
}
.carousel-control.right
{
    margin-right: -75px;
}
.carousel-control.right:before
{
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
}
.carousel-control.right:after
{
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
}
@media screen and (max-width: 992px)
{
    .carousel-control
    {
        display: none;
    }
}

.list-blue-dots
{
    color: #326de6;
}
.list-blue-dots span
{
    color: #231f20;
}

.pi-accordion
{
    line-height: 1.0;
}

.pi-accordion .container
{
    padding-left: 0px;
}

.pi-accordion .content
{
    padding-top: 0px;
    padding-bottom: 0px;
    padding-right: 0px;
}

.td-navbar {
  z-index: 501;
}

