{{/* The blog nav organizes posts grouped by year, which represents a customized version of the 
sidebar-tree in use elsewhere on the site. */}}

{{/* We cache this partial for bigger sites and set the active class client side. */}}
{{ $shouldDelayActive := ge (len .Site.Pages) 2000 }}

<div id="td-sidebar-menu" class="td-sidebar__inner{{ if $shouldDelayActive }} d-none{{ end }}">
  {{ if not .Site.Params.ui.sidebar_search_disable }}
  <form class="td-sidebar__search d-flex align-items-center">
    {{ partial "search-input.html" . }}
    <button class="btn btn-link td-sidebar__toggle d-md-none p-0 ml-3 fas fa-bars" type="button" data-toggle="collapse" data-target="#td-section-nav" aria-controls="td-docs-nav" aria-expanded="false" aria-label="Toggle section navigation">
    </button>
  </form>
  {{ end }}
  <nav class="collapse td-sidebar-nav pt-2 pl-4" id="td-section-nav">
    {{ if  (gt (len .Site.Home.Translations) 0) }}
    <div class="nav-item dropdown d-block d-lg-none">
      {{ partial "navbar-lang-selector.html" . }}
    </div>
    {{ end }}
    {{ template "blog-nav-section" (dict "page" . "section" .FirstSection "delayActive" $shouldDelayActive)  }}
  </nav>
</div>

{{ define "blog-nav-section" }}

{{ $shouldDelayActive := .delayActive }}
{{ $sid := .section.RelPermalink | anchorize }}

{{ $postsByYear := .section.Pages.GroupByDate "2006" }}

{{ range $postsByYear }}

{{ $year := .Key }}
{{ $p := $.page }}
{{ $active := eq ($p.Date.Format "2006") $year }}

{{ $firstPost := .Pages | first 1 }}
  <ul class="td-sidebar-nav__section pr-md-3">
    <li class="td-sidebar-nav__section-title">
      <a  href="{{range $firstPost}}{{ .RelPermalink }}{{end}}" class="align-left pl-0 pr-2{{ if not $active }} collapsed{{ end }}{{ if $active}} active{{ end }} td-sidebar-link td-sidebar-link__section">
        {{ .Key }}
      </a>

    </li>
    <ul>
      <li class="collapse {{ if $active }}show{{ end }}" id="{{ $sid }}">
        {{ $pages := .Pages | first 5 }}
        {{ range $pages }}
        {{ if .IsPage }}
        {{ $mid := printf "m-%s" (.RelPermalink | anchorize) }}
        {{ $active := eq . $p }}
        <a class="td-sidebar-link td-sidebar-link__page {{ if and (not $shouldDelayActive) $active }} active{{ end }}" id="{{ $mid }}" href="{{ .RelPermalink }}">
          {{ .LinkTitle }}
        </a>
        {{ else }}
        {{ end }}
        {{ end }}
      </li>
    </ul>
  </ul>

{{ end }}

{{ end }}